<html>
<body>
    <h2>Stimulate when a student taps in</h2>
    <a href="/">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        Matric_Number<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="Matric Number" maxlength="9" class="textinput textInput" required="" id="id_matric_number"> </div> </div> <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="Email" maxlength="256" class="textinput textInput" required="" id="id_email"> </div> </div><div id="div_id_library" class="control-group"> <label for="id_library" class="control-label requiredField">
        Library<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="Library" maxlength="7" class="textinput textInput" required="" id="id_library"> </div> </div>    
        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>
