<html>
<body>
    <h2>Register</h2>
    <a href="/">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_matric_number" class="control-group"> <label for="id_matric_number" class="control-label requiredField">
        Matric_Number<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="Matric Number" maxlength="9" class="textinput textInput" required="" id="id_matric_number"> </div> </div>
        <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="email" name="Email" maxlength="9" class="textinput textInput" required="" id="id_email"> </div> </div>
        <div id="div_id_department" class="control-group"> <label for="id_department" class="control-label requiredField">
        Department<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="Department" maxlength="9" class="textinput textInput" required="" id="id_department"> </div> </div>
        <div id="div_id_year" class="control-group"> <label for="id_year" class="control-label requiredField">
        Year of study<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="Year" maxlength="9" class="textinput textInput" required="" id="id_year"> </div> </div>
        <div id="div_id_stay" class="control-group"> <label for="id_stay" class="control-label requiredField">
        Stay In Campus?(1=Yes/0=No)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="Stay" maxlength="1" class="textinput textInput" required="" id="id_stay"> </div> </div>
        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>
